<% layout("layouts/boilerplate") %>

    <div class="row">
        <h1 class="text-center">Add Course</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/courses" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="course[name]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Green Fee</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control" type="number" id="price" placeholder="0.00" name="course[price]"
                            required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class=" form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="course[description]" required></textarea>
                </div>
                <div class="mb-3">
                    <label class=" form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="course[location]" required>
                </div>
                <div class="mb-3 custom-file">
                    <label for="images" class="form-label">Upload Image(s)</label>
                    <input name="image" class="form-control" type="file" id="images" multiple>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Course</button>
                </div>
        </div>
        </form>
    </div>
    </div>